modules = ["web", "nodejs-18"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
publicDir = "."

[userenv]

[userenv.shared]
FIREBASE_AUTH_DOMAIN = "gen-lang-client-0109922552.firebaseapp.com"
FIREBASE_DATABASE_URL = "https://gen-lang-client-0109922552-default-rtdb.asia-southeast1.firebasedatabase.app"
FIREBASE_PROJECT_ID = "gen-lang-client-0109922552"
FIREBASE_STORAGE_BUCKET = "gen-lang-client-0109922552.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID = "855156398200"
FIREBASE_APP_ID = "1:855156398200:web:8efc43c8e434263ea5358d"
FIREBASE_API_KEY = "AIzaSyAxyBAXzN9hiNjr5dx50I9xrrtImVEbD6k"
